table{
    width: 90%;
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 10px;
  text-align: center;
}

th{
    padding: 10px;
    
}
tr:nth-of-type(odd){
    /* applies to the even tr of the table */
    background-color: #DAD7CD;
}
caption{ 
    margin:1em;
    font-weight: bold;
    font-size: 120%

}
form{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 80%;
    margin-bottom: .5em;
}
input,textarea{
    margin-bottom: .5em;
}

/* this is for a computer screen */
@media(min-width:1024px){
    /* is a class that asks for background color and setting parameters */
    .header {
        background-color: #DAD7CD;
        width:80%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding-top: 1em;
    }
    /* this is to help with the logo */
    .header img{
        float: left;
        width: 100px;
        height: 100px;
    
    }
    /* help with the header tag */
    .header h1{
        position: relative;
        top: 18px;
        left: 10px;
    }
    /* this is set the nav to the center and the color of the nav */
    nav{
        text-align: center;
        background-color: #DAD7CD;
        padding:1em;
        width:auto;
        height: 2em;
    }
    /* putting display in a block */
    nav a{    
        display:block;
        text-decoration: none;
    }
    /* these are the nav links showing the color when hovered on, when visited, and just the link */
    nav a:link{color:#344E41;}
    nav a:visited{color:#013220;}
    nav a:hover{color:#CC9933;}

    nav ul{
    list-style-type: none;
    margin-right:1em;
    padding: 0;
    }
    /* display inline */
    nav li{
        display:inline-block;
    }
   /* setting the parameters for "body" of the website */
    main {
        margin-left: auto;
        margin-right: 11.80em;
        width:78.5%;
        padding: 1em;
        background-color: #344E41;
        padding-bottom: auto; 
        margin-bottom: auto;
    }
    /* this is the id to seperate the bio and future plans  */
    #homediv {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 75% 25%;
        column-gap: 5em;
        row-gap: 5em;
        height: 80%
    }
    /* going into more detail for the bio and setting background color with its parameters */
    #homediv .bio {
        grid-column: 1/span 2;
        grid-row: 1/span 1;
        background-color: #DAD7CD;
        height: 90%;
        width: 80%; 
        margin-left: 2em;
    }
    /* this is the picture and setting it in the main */
    #homediv #famhero {
        background-image: url(img/family.jpeg);
        background-repeat: no-repeat;
        background-size: contain;
        height:100%;
        width:auto;
        grid-column: 3/span 1;
        grid-row: 1/span 1;
        margin-bottom: 5em;
        margin-left: -5em;
    }
    /* class that sets it at the bottom of the screen to the right with background color */
    #homediv .future {
        grid-column: 2/span 2;
        grid-row: 2/span 1;
        background-color: #DAD7CD;
        /* margin-right: 2em; */
        height:100%;
        width:75%;
        /* margin-bottom: 5em; */
        padding: 2em; 
        margin-top:-8em;
        margin-left:-3em;
    }
/* this is the picture for future plan and setting parameters */
    #homediv #futurehero {
        background-image: url(img/PCS.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        grid-row: 2/span 1;
        grid-column: 1/span 1;
        height:150px;
        width:auto;
        margin-top: -5em;

    }
    /* #logohero {
        background-image: url("img/CBlogo.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;
        width: 200px;
    } */
    /* .font-bold{
        font-weight:bold;
    } */
    #mobile{
        display:none;
    }
    #desktop{
        display:inline;
    }
    /* setting the footer at the bottom of the screen */
    footer {
        width:79.3%;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
        background-color: #DAD7CD;
        padding:.5em;
        margin-bottom: 1em;
    }
/* setting the body to white */
    body {
        background-color: #FFFFFF;
    }
}
/* this is screen for the phone and it is the same as computer except with photos and a little bit different parameters */
@media(max-width:600px){
        .header {
        background-color: #DAD7CD;
        width:80%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        padding-top: 1em;
    } 

    nav{
        text-align: center;
        background-color: #DAD7CD;
        padding:1em;
        width:auto;
        height: 2em;
    } 
    nav a{   
        display:block;
        text-decoration: none;
    }
    nav a:link{color:#344E41;}
    nav a:visited{color:#013220;}
    nav a:hover{color:#CC9933;}
    
    nav ul{
    list-style-type: none;
    margin-right:1em;
    padding: 0;
    }
    nav li{
        display:inline-block;
    }

    main {
        margin-left: auto;
        margin-right: 11.80em;
        width:78.5%; 
        padding: 1em; 
        background-color: #344E41;
        padding-bottom: auto;  
        /* margin-bottom: auto; */
    }

    #homediv {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 75% 25%;
        column-gap: 5em;
        row-gap: 5em;
        height: 80%
    }

    #homediv .bio {
        grid-column: 1/span 2;
        grid-row: 1/span 1;
        background-color: #DAD7CD;
        height: 70%;
        width: 95%; 
        margin-left: 2em;
    } 

    /* #homediv #famhero {
        background-image: url(img/family.jpeg);
        background-repeat: no-repeat;
        background-size: contain;
        height:100%;
        width:auto;
        grid-column: 3/span 1;
        grid-row: 1/span 1;
        margin-bottom: 5em;
        margin-left: -5em;
    } */

    #homediv .future {
        grid-column: 2/span 2;
        grid-row: 2/span 1;
        background-color: #DAD7CD;
        margin-left: 2em;
        height:118%;
        width:95%;
        margin-bottom: 5em;
        padding: 2em;  
        margin-top:-10.5em;
        margin-left:-12em;
    }

    /* #homediv #futurehero {
        background-image: url(img/PCS.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        grid-row: 2/span 1;
        grid-column: 1/span 1;
        height:150px;
        width:auto;
        margin-top: -5em;
    
    }
    #logohero {
        background-image: url("img/CBlogo.png");
        background-repeat: no-repeat;
        background-size: contain;
        height: auto;
        width: auto;
    } */
    footer {
        width:79.3%;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
        background-color: #DAD7CD;
        padding:.5em;
        margin-bottom: 1em;
    }
    #mobile{
        display: inline;
    }
    #desktop{
        display: none;
    } 
    body {
        background-color: #FFFFFF;
    }
}
